<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Css/Js" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="lib/exe/*" ignoreCase="true" />
                    <action type="None" />
                </rule>
                <rule name="Media" stopProcessing="true">
                    <match url="^_media/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="lib/exe/fetch.php?media={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Detail" stopProcessing="true">
                    <match url="^_detail/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="lib/exe/detail.php?media={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Export" stopProcessing="true">
                    <match url="^_export/([^/]+)/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="doku.php?do=export_{R:1}&amp;id={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Root" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <action type="Rewrite" url="doku.php" />
                </rule>
                <rule name="Other" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="doku.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Index">
                    <match url="^index.php$" ignoreCase="false" />
                    <action type="Rewrite" url="doku.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
