@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html, body
{
    font-family: 'Lora', serif;
    font-size: 100%;
    background: none;
}

#dokuwiki__pagetools {
    top: 0!important;
}

/* .sticky {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px!important;
    background: rgba(255, 255, 255, 0.7);
    z-index: 100;
    border: 1px solid #eee;
    box-shadow: 0 0 0.5em #999;
    border-radius: 0 0 10px 0;
}

.sticky:hover {
    background: white;
}

.breadcrumbs .logo {
    display: none;
}

.sticky .logo {
    display: inline;
    margin-right: 10px;
}

.sticky .bchead {
    display: none;
} */

.pageId {
  display: none;
}

@media only screen and (max-width: 480px) {
    .breadcrumbs {
        display: inline!important;
    }
    .sticky {
        padding: 5px!important;
    }
    .sticky .logo {
        margin-right: 5px;
    }

    /*.breadcrumbs .trace {
        display: none;
    }*/
}

h1, h2, h3
{
    text-align: center;
}

.headings > h1
{
    text-align: initial;
}

.page > p,
.level1 > p,
.level2 > p,
.level3 > p,
.level4 > p,
.level5 > p,
.level6 > p,
.export > p
{
    text-align: justify;
    text-indent: 3em;

    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

li {
    text-indent: 0;
}

blockquote
{
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/*.page h1 + div > p:first-child::first-letter {
    font-size: 555%;
    display: block;
    float: left;
    line-height: .4;
    margin: .15em .1em .15em 0;
}

.page h1 + div > p:first-child {
    text-indent: 0;
}

.page h2 + div > p:first-child {
    text-indent: 0;
}

.page h2 + div > p:first-child::first-letter {
    font-size: 555%;
    display: block;
    float: left;
    line-height: .4;
    margin: .15em .1em .15em 0;
} */

em {
    font-weight: bold;
}

/*
ul
{
    padding: 0 1.5em;
}
.aside ul
{
    padding: 0;
}

li
{
    margin: 0 1.5em;
}
ul.idx li
{
    margin: 0 0 0 1.5em;
}
*/
br.page-break-after:always ~ p {
    border-top: 1px dashed
}


.dokuwiki .page h1,
.dokuwiki .page h2,
.dokuwiki .page h3,
.dokuwiki .page h4,
.dokuwiki .page h5 {
    position: relative;
}
 
.dokuwiki span.wikiLink {
    display: none;
    color: #999;
    background-color: #fff;
    font: normal 11px Arial, sans-serif;
    padding: 0 5px;
    position: absolute;
    top: -1em;
    left: 0;
}
 
.dokuwiki .page h1:hover span.wikiLink,
.dokuwiki .page h2:hover span.wikiLink,
.dokuwiki .page h3:hover span.wikiLink,
.dokuwiki .page h4:hover span.wikiLink,
.dokuwiki .page h5:hover span.wikiLink {
    display: block;
}

/* fix style for ebook readers (Boox Note 5) */
.dokuwiki a.urlextern,
.dokuwiki a.windows,
.dokuwiki a.mail,
.dokuwiki a.mediafile,
.dokuwiki a.interwiki {
    background-position: left center;
}

.wrap_center table {
    margin-left: auto;
    margin-right: auto;
}